@using Microsoft.AspNetCore.Identity
@using Chirp.Core.Models
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div style="width: 100%; position: relative;">
        <span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Public">
                        <button>
                            Public Timeline
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item text-dark" href="/@User.Identity?.Name">
                        <button>
                            Your Timeline
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <button>
                            About me
                        </button>
                    </a>
                </li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark" style="float: right;">Logout</button>
                    </form>
                </li>
            </ul>
        </span>
    </div>
}
else
{
    <div style="width: 100%; position: relative;">
        <span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Public">
                        <button>
                            Public Timeline
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                        <button>
                            Register
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                        <button>
                            Login
                        </button>
                    </a>
                </li>
            </ul>
        </span>
    </div>
    /*
    //OLD IMPLEMENTATION FOR REFERENCE
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
    <span>|</span>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    </ul>
    */
}
